.form-wrapper h2 {
  border-bottom: 2px solid red;
}

.form-wrapper h2 span {
  border: 2px dashed green;
  border-bottom: 3px solid green;
}

.form-wrapper form {
  background-color-color: aquamarine;
}

.form-wrapper table label {
  font-style: italic;
  font-weight: bold;
}
.form-wrapper table input {
  background-color-color: aqua;
  border: 2px solid red;
  width: 93%;
}

.form-wrapper table .btn-wrap {
  border-top: 1px solid green;
  text-align: center;
}
.form-wrapper table .btn-wrap button {
  border-top: 1px solid green;
  text-align: center;
  color: aliceblue;
  background-color-color: green;
  width: 130;
}
