.title{
    color: blueviolet;
}

/* .title::before{
    content: "print('Hello ";
    
} */

/* .title::after{
    content: "')";
} */

.title::first-letter{
    color: red;
}
/* 
.title::first-line{
    background-color: aquamarine;
} */

.title::selection{
    background-color: blueviolet;
}
.title::before{
    content: "";
    background: green;
    width: 15px;
    height: 20px;
    display: inline-block;
}