/*
Thuộc tính background
-Tác dụng:Thay đổi nền(màu và ảnh) của thành phần trên trang web
-Cú pháp : background-color: tên thuộc tính
+value:Giá trị màu (giống như color đã học)

Thuộc tính background-image
-Tác dụng:Thay đổi nền ảnh của thành phần trên trang web
Cú pháp: background-img: url('')
Lưu ý: khi sử dụng background-image sẽ có các thuộc tính mở rộng dưới đây
(Không liên quan đến background-color)
- trong cùng 1 selector có thể cùng kết hợp background-color và 
background-image. tuy nhiên sẽ ưu tiên background-image(background-color
chỉ hiển thị khi background-image bị lỗi hiển thị hoặc image chưa tải 
xong)


Thuộc tính background-size:
-Tác dụng: thay đổi kích thước của ảnh so với khung hiển thị
-Cú pháp:
background-size: value
background-size tên thuộc tính
value: các giá trị size
-> kích thước tuyệt đối(1 đối số, 2 dối số)
background-size: 200px => chiều rộng 200px, cao tự động
background-size: 400px 200px rộng 400 cao 200
-> kích thước tương đối(1 đối số, 2 dối số)
=> background-size: 100% => Chiều rộng = 100% (Tỷ lệ theo chiều
rộng của khung hiển thị), chiều cao tự động
=> background-size: 100% 50% => Chiều rộng = 100%, chiều cao = 50%
++ cover => Áp dụng cho kiểu background cover(giống auto 100%)
+ contain => Áp dụng cho kiểu background contain (Chiều rộng sẽ tự
động, chiều cao sẽ full theo chiều cao của khung hiển thị)

thuộc tính background-repeat
-Tác dụng: điều chỉnh chế độ lặp của background trong điều kiện size nhỏ hơn size hiển thị)
thuộc tính background-position
repeat : lặp cả x cả x
repeat-x: lặp theo trục x
repeat-y: lặp theo trục y
no-repeat: k lặp

Thuộc tính background-position
- Tác dụng: Căn chỉnh vị trí background so với khung hiển thị
- Cú pháp: background-position: pos_x pos_y
+ pos_x: Căn chỉnh theo trục x (các giá trị tuyệt đối, tương đối,
Left, center, right)
+ pos_y: Căn chỉnh theo trục y (các giá trị tuyệt đối, tương đối,
top, center, bottom)|





Thuộc tính background-attachment
- Tác dụng: Cố định background khi kéo theo cuộn (scrolling)
- Cú pháp: background-attachment: value
+ scroll: Mặc định, khi kéo thanh cuộn => background cũng cuộn theo
+ fixed: Cố định background khi kéo thanh cuộn


Thuộc tính background
- Tác dụng: Tổng hợp tất cả thuộc tính liên quan đến background
(Trừ background-size)
- Cú pháp: background: color image repeat
*/

/* body {
  background-color: aquamarine;
} */

body {
  background-image: url("../imgs/cat2.jpg");
  background-size: auto auto;
}
/*
cover → phóng to theo chiều ngắn hơn để phủ kín, có thể bị cắt.
contain → phóng to theo chiều dài hơn để vừa khít, có thể để trống.
*/
.content {
  background-color: plum;
  background-image: url("../imgs/cat.jpg");
  background-size: cover;
  /*chỉ lặp theo trục y*/
  /* background-repeat: repeat-y;  */
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-attachment: fixed;
}

.block {
  background-color: rgba(127, 255, 212, 0.127);
  background-image: url("../imgs/hello.gif");
  color: #fff;
  background-size: 100px;
  background-repeat: repeat-x; /*chỉ lặp theo trục x*/
}

.element {
  height: 300px;
  background: #165 url("../imgs/hi.jpg") no-repeat 50px 30px;
  background-size: 200px;
}
