.header {
  text-align: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header::after {
  content: "";
  display: block;
  height: 4px;
  width: 64px;
  background-color: blue;
  margin: 0 auto;
}

.table_content .avt {
  height: 70px;
  width: 70px;
  background: green;
  text-align: center;
  color: aliceblue;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 70px;
}

.table_content .table-2 p:last-child {
  font-size: 26px;
}

.table_content .table-2 p:first-child {
  font-style: italic;
}

.table_content p {
  margin-top: 0;
}
