.container {
  width: 900;
  margin: 0 auto;
}

.table_content .avt {
  height: 100px;
  width: 100px;
  background: pink;
  text-align: center;
  color: aliceblue;
  border-radius: 10px;
  font-size: 45px;
  line-height: 100px;
}

.table_content td{
    padding: 10px 0;
    border-bottom: 1px dashed palevioletred;
}

.table_content tr:last-child td{
    border: none;
}