* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none ;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.5;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.register {
  padding: 30px 0;
}
.register h2,
.register {
  text-align: center;
  margin: 10px;
}

.register h2 {
  font-size: 2rem;
}

.register .register-header {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.register form {
  background-color: rgb(191, 178, 200);
  padding: 15px;
}

.register td{
  padding: 5px;
}

.register .field-item {
  width: 100%;
  border: none;
  padding: 10px 20px;
}

.register button{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 0;
    cursor: pointer;
}