/*
Thuộc tính float
-Tác dụng: Dùng để trôi thành phần html trên trang web sang bên trái 
hoặc bên phải của thành phần của thành phần cha bao quanh nó
-Cú pháp: float: value
+ float: tên thuộc tính
+ value: giá trị muốn trôi
++ none: mặc định
++ left; trôi về phía bên trái
++ right: tôi về phía bên phải

Lưu ý:
+ Chiều cao của thành phần cha sẽ bị reset về 0 nếu bên trong có sử
dung float
+ Để khắc phục tình trạng mất chiều cao thành phần cha, dùng
overflow cho thành phần (Trừ overflow: visable)
+ Nếu còn không gian trống, các thành phần bên dưới sẽ tự động trôi
lên vị trí còn trống (Lấp đầy)
+ Đề khắc phụt tình trạng lấp đầy không gian trống => Dùng thuộc
tính clear

Thuộc tính clear
- Tác dụng: Khắc phục tình trạng tự động trôi khi dùng float
- Cú pháp: clear: value
+ clear: Tên thuộc tính
+ value: Giá trị hướng muốn khắc phục
++ left: khắc phục trôi về bên trái
++right: khắc phục trôi về bên phải
++both: khắc phục cả hai
*/

# {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 900px;
  /* border: 1px solid red; */
  /* height: 500px; */
  margin: 0 auto;
  overflow: auto;
}

.block-1 {
  background-color: green;
  color: aliceblue;
  font-size: 2rem;
  text-align: center;
  width: 30%;
  height: 100px;
  line-height: 100px;
  float: left;
}

.block-2 {
  background-color: red;
  color: aqua;
  font-size: 2rem;
  text-align: center;
  width: 30%;
  height: 150px;
  line-height: 150px;
  float: right;
}

.clear {
  clear: both;
}

/* .text{
  clear: both;
}  */

/* .img-align{
text-align: right;
} */

.img-align img {
  display: block;
  margin: 0 auto;
}
