/*
Thuộc tính color
-tác dụng: thay đổi màu sắc văn bản
-cú pháp: color <value?
+ color: tên thuộc tính
+ value: màu sắc cần thay đổi

=> value sẽ nhận các giá trị:
+ tên màu tiếng anh => các màu cơ bản, phổ biến
+ mã màu(hexa gồm 6 ký tự và bắt đầu bằng #) : #000000
Nếu 6 ký tự giống hệ nhau chỉ cần 3 ký tự => #fff
+Màu rgb: rgb(number 1, number 2) rgb(255, 0, 0)
+ màu hsl: hsl(90, 10%, 50%)

+rgba(number1, number2, number3, opacity)
opacity 0 -> 1

+dùng rgb(number1 number 2 number3 / opacity)
opacity nhận từ 0-> 100%
*/

.text {
  color: rgb(250, 0, 0);
}
