/*
Thuộc tính font-family
- Tác dụng: Thay đổi font chữ cho văn bản
-Cú pháp : font-family <value>
+font-family: Tên thuộc tính
+ value: Tên font chữ( nếu tên font chữ có dấu cách, bổ sung vào dấu ngoặc "" hoặc nháy đơn)


*/

/*NẠP FONT VÀO TRANG WEB
TÊN THUẬT NGỮ: AT-RULE
*/
@font-face {
  font-family: "NT-Akashii";
  src: url(../fonts/NT-Akashii.ttf);
}

@font-face {
  font-family: "DL-ThuPhap";
  src: url(../fonts/DL-ThuPhap.otf);
}
@font-face {
  font-family: "SVN-Hottroof-Semhesta";
  src: url(../fonts/SVN-Hottroof-Semhesta.otf);
}

body {
  text-align: center;
}

.header {
  font-family: "NT-Akashii";
  background-color: red;
  color: yellow;
  font-size: 50px;
  width: fit-content;
  margin: auto auto;
  padding: 18px 36px;
}

.header:hover,
.text1:hover,
.text2:hover{
  color: black;
}


.container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

.text1,
.text2 {
  font-family: "DL-ThuPhap";
  background-color: red;
  color: yellow;
  width: fit-content;
  padding: 20px;
  border: 2px solid gold;
}
